<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trivialy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Trivia.ly"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Lobby"/>
        <activity android:name=".AvailableQuizesMenu" />
        <activity android:name=".Multiplayer_menu" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainMenu"
            android:label="@string/app_name" />
        <activity
            android:name=".SingleplayerMenu"
            android:label="@string/app_name" />
        <activity
            android:name=".FreePlay"
            android:label="@string/app_name" />
        <activity
            android:name=".ExpertMode"
            android:label="@string/app_name" />
        <activity
            android:name=".SingleplayerScore"
            android:label="@string/app_name" />
        <activity
            android:name=".CategoryViewFreePlay"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".DifficultyViewFreePlay"
            android:label="@string/app_name" />
        <activity
            android:name=".CategoryView"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".DifficultyView"
            android:label="@string/app_name" />
        <activity
            android:name=".TimeTrial"
            android:label="@string/app_name" />

        <service
            android:name=".HealthRegen"
            android:exported="false" />
    </application>

</manifest>